@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
}
* {
  box-sizing: inherit;
  font-family: IRANSansfa !important;
  direction: rtl !important;
}
.loginForm fieldset {
  border-color: rgba(255, 255, 255, 0.54) !important ;
}
.loginForm .MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.54) !important ;
}
.loginForm .MuiInputLabel-shrink {
  color: rgb(159, 165, 247) !important ;
}
.loginForm input,
.loginForm .pI {
  color: rgba(255, 255, 255, 0.54) !important ;
}
.loginForm .Mui-disabled{
  background-color: #ccc !important;
  cursor: not-allowed !important;
}